@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  h1 {
    font-size: var(--text-5xl);
    font-weight: 700;
  }
  h2 {
    font-size: var(--text-3xl);
    font-weight: 700;
  }
  h3 {
    font-size: var(--text-lg);
  }
  h4 {
    font-size: var(--text-lg);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
