.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 6px 12px;
  color: #333;
  background-color: #ffffff;
  /* background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.navBarLinks {
  display: flex;
  column-gap: 20px;
  flex-direction: row;
  align-items: center;
}

.navBarLinks a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
}

.navBarLinks a:hover {
  background-color: #e0e0e0;
  color: #000;
}

.navBarLinks a:active {
  background-color: #d0d0d0;
  color: #000;
}

.navBarLogo {
  font-size: 24px;
  font-weight: 600;
  padding: 8px 0 8px 8px;
}
